:root {
    --background-color: #fff;
    --text-color: #000;
}

.dark-mode {
    --background-color: #333;
    --text-color: #fff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
    text-align: center;
}

#player {
    margin-top: 20px;
}